@{
    ViewData["Title"] = "Management";
}

<h2>Management</h2>

<div>
    <ul>
        <li><a href="/Management/SendInvitation">Send Invitation</a></li>
        <!-- Diğer başlıklar buraya eklenebilir -->
    </ul>
</div>

<div id="content">
    @RenderBody()
</div>
