@{
    ViewData["Title"] = "Management";
}

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-controller="Management" asp-action="SendInvitation">Send Invitation</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Management" asp-action="EmployeeDetails">Employee Details</a>
            </li>
            <!-- Add more headlines as needed -->
        </ul>
    </div>
    <div class="col-md-9">
        <!-- Content for the selected headline will be rendered here -->
        @* You can include specific content here or render partial views *@
    </div>
</div>
